<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link href="/webjars/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
        <link href="/webjars/open-iconic/font/css/open-iconic/bootstrap.min.css" type="text/css" />

    </head>
    <body>
        <!------ Include the above in your HEAD tag ---------->

        <div class="wrapper fadeInDown" style="margin: 0 auto; text-align: center; max-width: 550px;">
            <div id="formContent">
                <!-- Tabs Titles -->

                <!-- Icon -->
                <div class="fadeIn first">
                    <img src="http://danielzawadzki.com/codepen/01/icon.svg" id="icon" alt="User Icon" />
                </div>

                <!-- Login Form -->
                <form>
                    <input type="text" id="login" class="fadeIn second" name="login" placeholder="login">
                    <input type="text" id="password" class="fadeIn third" name="login" placeholder="password">
                    <input type="submit" class="fadeIn fourth" value="Log In">
                </form>

                <!-- Remind Passowrd -->
                <div id="formFooter">
                    <a class="underlineHover" href="#">Forgot Password?</a>
                </div>

            </div>
        </div>
        <script src="/webjars/jquery/jquery.min.js"></script>
        <script src="/webjars/bootstrap/js/bootstrap.min.js"></script>
         <script src="/webjars/jquery-mask-plugin/dist/jquery.mask.min.js"></script>
        <script src="/webjars/cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
        <script type="text/javascript">
            $(function(){
                $('[data-toggle="popover"]').popover();
            });
        </script>
    </body>
</html>
